{% extends "base.html" %}
{% block title %}Оформление продажи | PC Upgrade{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto">
  <div class="mb-8 text-center md:text-left">
    <h1 class="text-2xl font-black text-slate-900 uppercase tracking-tighter">
      <span class="text-indigo-600">></span> 
      {% if selling_item_name %}
          Продажа детали: {{ selling_item_name }}
      {% else %}
          Оформление сделки
      {% endif %}
    </h1>
    <p class="text-slate-500 font-mono text-[10px] mt-1 uppercase">/root/sales/new_transaction</p>
  </div>
  <div class="bg-white rounded-3xl border border-slate-100 shadow-xl overflow-hidden">
    <form method="post" class="p-8 space-y-6">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="pt-6 border-t border-slate-50 flex justify-between">
        <a href="{% url 'sale_list' %}" class="text-xs font-bold text-slate-400 hover:text-slate-600 uppercase font-mono mt-3 block">Отмена</a>
        <button type="submit" class="px-8 py-3 bg-indigo-600 text-white rounded-xl font-black text-xs uppercase hover:bg-indigo-700 transition-all shadow-lg">Подтвердить продажу</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}