{% if messages %}
  <div class="space-y-2 mb-4">
    {% for message in messages %}
      <div class="p-3 rounded bg-white shadow-sm border">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}


pcshop/
  manage.py
  db.sqlite3              (появится после миграций)
  requirements.txt
  media/                  (создадим, для фото)
  static/                 (можно пустым)
  templates/
    base.html
    _messages.html
  pcshop/
    __init__.py
    settings.py
    urls.py
    wsgi.py
    asgi.py
  core/
    __init__.py
    admin.py
    apps.py
    forms.py
    models.py
    urls.py
    views.py
    migrations/
      __init__.py
    templates/
      core/
        inventory_list.html
        inventory_form.html
        build_list.html
        build_form.html
        build_detail.html
        sale_list.html
        sale_form.html
